* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: arial;
    color: white;
}

h1 {
    color: grey;
    font-family: verdana;
}

.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

label {
    display: inline-block;
    width: 100px;
}

input, select {
    margin: 5px 0 5px 30px;
}

.inputs {
    margin-left: 50px;
}

#rate_val {
    padding: 5px;
}

footer {
    padding-top: 5px;
}